<meta charset="utf-8">
<pre id="res"></pre>
<script>
const CLIENT_ID = 'kcyk0aoQsVsQaUHEsyfoKnTVibj4SiA9';
// UNSECURE (should be done with a backend service so the secret is hidden):
const CLIENT_SECRET = 'd6OowXyPYs4Egk9Glq2rImzDXlpEiEg9aJItWbOKAjbtvQAS8_3_Awl5oh1KkUDi';
(async function () {
  const url = new URL(window.location);
  const code = url.searchParams.get('code')
  if (code) {
    console.log(code);
    const { access_token } = await exchange(code);
    const x = await fetch('https://api.atlassian.com/oauth/token/accessible-resources', {
      method: 'GET',
      headers: {
        'Authorization': 'Bearer ' + access_token
      }
    })
    const resources = await x.json();
    const cloudID = resources[0].id
    const res = await fetch(`https://api.atlassian.com/ex/jira/${cloudID}/rest/api/2/search?jql=${encodeURIComponent('cf[10029]~test1234')}`, {
      method: 'GET',
      headers: {
        'Authorization': 'Bearer ' + access_token
      }
    })
    document.getElementById('res').innerHTML = JSON.stringify(await res.json(), null, 2);
    return
  }
  window.location = `https://auth.atlassian.com/authorize?audience=api.atlassian.com&client_id=${CLIENT_ID}&scope=read%3Ajira-user%20read%3Ajira-work&redirect_uri=http%3A%2F%2Flocalhost%3A3001%2F&response_type=code&prompt=consent`
}())
async function exchange (code) {
  const res = await fetch('https://auth.atlassian.com/oauth/token', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      "grant_type": "authorization_code",
      "client_id": CLIENT_ID,
      "client_secret": CLIENT_SECRET,
      "code": code,
      "redirect_uri": "http://localhost:3001"
    })
  })
  return res.json();
}
</script>
