body {
  background-color: white;
}

button {
  -webkit-box-align: baseline;
  align-items: baseline;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  max-width: 100%;
  text-align: center;
  white-space: nowrap;
  height: 2.28571em;
  line-height: 2.28571em;
  vertical-align: middle;
  width: auto;
  color: rgb(255, 255, 255) !important;
  border-width: 0px;
  text-decoration: none;
  background: rgb(0, 82, 204);
  border-radius: 3px;
  padding: 0px 8px;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  outline: none !important;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 3px;
  width: 96%; /*dont ask */
}

.item {
  padding: 5px 0;
  list-style-type: none;
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item:hover {
  background: rgb(235, 236, 240);
}

.item .title {
  cursor: pointer;
}

.item .title:hover {
  text-decoration: underline;
}

.pill-container {
  display: flex;
  height: 15px;
}
.item:hover .ex {
  opacity: 1;
}

.pill {
  background-color: rgb(227, 252, 239);
  color: rgb(0, 102, 68);
  text-transform: uppercase;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  padding: 0px 4px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 700;
  cursor: default;
  margin-right: 6px;
}

.pill.published {
  background-color: rgb(227, 252, 239);
  color: rgb(0, 102, 68);
}

.pill.draft {
  background-color: rgb(223, 225, 230);
  color: rgb(66, 82, 110);
}

.pill.archived {
  background-color: rgb(255, 240, 179);
  color: rgb(23, 43, 77);
}

.pill.changed {
  background-color: rgb(222, 235, 255);
  color: rgb(7, 71, 166);
}

.pill span {
  vertical-align: top;
}

.pill-container .ex {
  opacity: 0;
  transform: rotate(45deg);
  font-size: 30px;
  margin-left: 3px;
  margin-top: -11px;
  cursor: pointer;
  border-radius: 3px;
}

.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-text {
  margin-bottom: 5px;
}

input {
  background-color: white;
  box-sizing: border-box;
  height: 40px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  width: 94%;
  font-weight: 400;
  line-height: 1.42857;
  letter-spacing: -0.005em;
  color: rgb(94, 108, 132);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(223, 225, 230);
  border-image: initial;
  border-radius: 3px;
}

