html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

body {
  padding: 5px;
}

.jira-ticket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  padding: 8px;
}

.jira-ticket > div {
  display: flex;
  align-items: center;
}

.jira-ticket .primary {
  flex: 1;
  overflow: hidden;
}

.jira-ticket .summary {
  flex: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jira-ticket .summary span {
  flex: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jira-ticket button {
  text-decoration: none;
  color: inherit;
}

.jira-ticket .avatar {
  display: block;
  border-radius: 20px;
}

.jira-ticket img {
  vertical-align: center;
}

.jira-ticket .meta > img {
  padding: 0 4px;
}

.jira-ticket .meta > div {
  padding: 0 8px;
}

.jira-ticket .type {
  margin-right: 8px;
}

#create-issue {
  margin-top: 12px;
}

#create-issue div[class*="ToggleButton"] {
  margin-top: 4px;
  margin-right: 4px;
}

span[class*="ToggleButton"] {
  display: flex;
  align-items: center;
}

span[class*="ToggleButton"] img {
  margin-right: 4px;
}

#actions {
  display: flex;
  align-items: center;
}

#actions div[class*="ToggleButton"] {
  margin-left: 4px;
}

.react-autosuggest__suggestions-container {
  background-color: #fff;
  border-radius: 3px;
}

.react-autosuggest__suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

header img {
  height: 40px;
}

.react-autosuggest__container span[class*="TabFocusTrap__TabFocusTrap"] {
  display: flex;
  align-items: center;
}

.react-autosuggest__container span[class*="TabFocusTrap__TabFocusTrap"] img {
  margin-right: 4px;
}

.form-input-group {
  display: flex;
  align-items: center;
}

.form-input-group div[class*="TextField__TextField__label-wrapper"] {
  display: none;
}

.form-input-group > div:first-child {
  flex: 1;
}

.form-input-group button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
